<div class="container">
	<header class="page-header">
		<h1 class="text-center">Kenney's Pickem</h1>
	</header>
	
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		
		<div id="navbar-items" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#game">Home</a></li>
				<li><a href="#leaderBoard">Leader Board</a></li>
				<li><a href="#teamSchedule">Team Schedule</a></li>
				<li><a href="#account">My Account</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#users">Users</a></li>
						<li><a href="#themes">Themes</a></li>
						<li><a href="#teams">Teams</a></li>
						<li><a href="#venues">Venues</a></li>
						<li><a href="#rivalries">Rivalries</a></li>
						<li><a href="#seasons">Seasons</a></li>
						<li><a href="#seasonweeks">Season Weeks</a></li>
						<li><a href="#matchups">Matchups</a></li>
					</ul>
				</li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</nav>
	
	<div id="content">
	</div>
	
	<footer>
	</footer>
</div>