<div class="container">
	<header class="page-header">
		<h1 class="text-center">Kenney's Pickem</h1>
	</header>
	
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		
		<div id="navbar-items" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#game">Home</a></li>
				<li><a href="#leaderBoard">Leader Board</a></li>
				<li><a href="#teamSchedule">Team Schedule</a></li>
				<li><a href="#account">My Account</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</nav>
	
	<div id="content">
	</div>
	
	<footer>
	</footer>
</div>