<div class="row">
	<div class="col-sm-4"></div>
	
	<div class="col-sm-4">
		<h2>Register</h2>
		
		<form role="form" class="clearfix">
			<div class="form-group">
				<label for="emailAddress">Email Address</label>
				<input type="email" name="emailAddress" id="emailAddress" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="userPass">Password</label>
				<input type="password" name="userPass" id="userPass" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="confirmPass">Confirm Password</label>
				<input type="password" name="confirmPass" id="confirmPass" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" id="firstName" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName" class="form-control">
			</div>
			
			<div class="pull-right">
				<button type="button" id="resetButton" class="btn btn-default">Reset</button>
				<button type="button" id="submitButton" class="btn btn-default btn-primary">Submit</button>
			</div>
		</form>
	</div>
	
	<div class="col-sm-4"></div>
</div>