<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Users</h1>
		
		<table class="table table-hover">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>User Groups</th>
			</tr>
			
			<% _.each(model.models, function(model) { %>
				<tr>
					<td><%=model.get('firstName')%></td>
					<td><%=model.get('lastName')%></td>
					<td><%=model.get('emailAddr')%></td>
					<td>
						<% _.each(model.get('userGroups'), function(userGroup) { %>
							<%=userGroup.group.groupName%><br/>
						<% }); %>
					</td>
				</tr>
			<% }); %>
		</table>
	</div>
</div>