<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Users</h1>
		
		<table class="table table-hover">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Last Updated</th>
				<th>Created</th>
				<th>Actions</th>
			</tr>
			
			<% _.each(model.models, function(model) { %>
				<tr>
					<td><%=model.get('firstName')%></td>
					<td><%=model.get('lastName')%></td>
					<td><%=model.get('emailAddr')%></td>
					<td><%=new Date(model.get('lastUpdateDate')).toPrettyStringWithoutTime()%></td>
					<td><%=new Date(model.get('createDate')).toPrettyStringWithoutTime()%></td>
					<td>
						<button type="button" class="btn btn-small btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
						<button type="button" class="btn btn-small btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
					</td>
				</tr>
			<% }); %>
		</table>
		
		<div>
			<button type="button" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
</div>