.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.margin-before {
	margin-top: 20px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

h2.pull-left + div.pull-right {
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-header {
	margin-bottom: 20px;
}